html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
}
